<div></div>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Simulation Achat de titre
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="form-group col-md-3">
            <label for="inputState">Titre</label>
            <select id="inputState" class="form-control" [(ngModel)]="ordre.titre" name="titre" (change)="onChangeTitre($event.target.value)">
              <option  value="sonatel" selected>Sonatel</option>
              <option value="total">total</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">client</label>
            <select id="inputState" class="form-control" [(ngModel)]="ordre.agent" name="agent" (change)="onChangeTypeClient($event.target.value)">
              <option  value="agent" >Agent</option>
              <option value="autre" selected>Autre</option>
            </select>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput">Quantite</label>
          <input class="form-control" id="formGroupExampleInput" placeholder="nombre de titre" #box (keyup)="getMontant(box.value)">
        </div>
        <div class="form-group col-md-6">
          <label for="formGroupExampleInput2">Prix du jour</label>
          <input type="number" class="form-control" id="formGroupExampleInput2" disabled [(ngModel)]="ordre.prix" name="prix">
        </div>
        <div class="form-group col-md-6">
            <label for="formGroupExampleInput2">Montant Total</label>
            <input type="number" class="form-control" id="formGroupExampleInput2" disabled disabled [(ngModel)]="ordre.total" name="total">
        </div>

      </form>
    </div>
      
    <div class="card-footer text-muted">
     
     <table  class="table">
       <thead class="thead-dark"> 
          <tr>
            <th>Nombre de titre</th>
            <th> Montant brute</th>
            <th> commision CGF: 
              <span *ngIf="isAgent">
                0.4%
              </span>
              <span *ngIf="!isAgent">
                1.1%
              </span>
            </th>
            <th> commision BVRM/DCBR:0.3%</th>
            <th> Taf: 17%</th>
            <th>  Total</th>
          </tr>
        </thead>
     
       <tbody>
         <tr>
           <td> {{ordre.quantite}}</td>
           <td> {{ordre.prix}} fcfa</td>
           <td> {{commissionCgf}} fcfa </td>
           <td> {{commissionBrvm}} fcfa</td>
           <td> {{taf}} fcfa</td>
           <td> {{ordre.total}} fcfa</td>
         </tr>
       </tbody>
     </table>
    </div>
  </div>
</div>